.ListContainer{
    position: absolute;
    height: 88%;
    width: 30%;
    overflow: auto;
    list-style: none;
    color: white;
    font-size: 40px;
    background-color: rgba(97, 209, 170, 0.5);
}
.BorderLeft{
    border-left: white 0.15vw solid;
}
.BorderRight{
    border-right: white 0.15vw solid;
}
.WindowList{
    margin: 0.30vw;
    margin-right: 0;
    font-size: 2vw;
    left: 15px;
}
.Header{
    position: relative;
    text-align: center;
    font-size: 3.2vw;
    color: white;
    top: 10%;
    margin: 0;
}
.HeaderContainer{
    position: absolute;
    align-items: center;
    width: 30%;
    height: 12%;
    z-index: 1;
    border-bottom: white 0.15vw solid;
    background-color: rgba(97, 209, 170, 0.5);
    margin: 0;
}
.topleft{
    top: 0;
    left: 0;
}
.topright{
    top: 0;
    right: 0;
}
.bottomleft{
    bottom: 0;
    left: 0;
}
.bottomright{
    bottom: 0;
    right: 0;
}
.PopupButton{
    height: 2.8vw;
    width: 8vw;
    font-size: 1vw;
}
#OutOfPointsContainer{
    position: absolute;
    width: 25%;
    height: 20%;
    text-align: center;
    font-size: 1.5vw;
    top:75%;
    color: white;
    left:37.5%;
    background-color: rgba(97, 209, 170, 0.5);
    border:  white 0.15vw solid;
}
#Pushesleft{
    position: relative;
    color: white;
    font-size: 50px;
    height: 100px;
    width: 100px;
}
#gamebutton {
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 150px;
    border:none;
    box-shadow: 0 8px rgb(131, 131, 131);
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: ridge;
}
#gamebutton:active{
    transform: translateY(8px);
    box-shadow: none;
}
